<h1>Log In</h1>

<%= simple_form_for :signin, url: sessions_path , :html=> {:class => "ui form segment"} do |f| %>
  <%= f.input :email, :placeholder=> "Email" %>
  <%= f.input :password, :placeholder=> "Password" %>
	<%= link_to "Forgotten Password", new_password_reset_path %>
  <%= f.input :remember_me, as: :boolean, :html=>{:class=>"ui checkbox", value: '1' }%>
	<div class="field">
		<div/>
	<%= f.button :submit, "Log In" %>
<% end %>