<%= simple_form_for @employee do |f| %>
  <%= f.error_notification %>
	
		<%= f.input :image, as: :file %>    
		<%= f.input :first_name, placeholder: 'John' %>
    <%= f.input :last_name, placeholder: 'Doe' %>  
		<%= f.input :middle_name, placeholder: 'Omar' %>
		<%= f.collection_radio_buttons :gender, [['male', 'Male'] ,['female', 'Female']], :first, :last %><br>
    <%= f.date_field :dob, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, discard_day: true, order: [:month, :year] %>
		<%= f.association :marital_status, label_method: :name, value_method: :id, include_blank: false, prompt: "Choose a Marital Status" %>
		<%= f.input :trn, placeholder: '1234567890' %>
		<%= f.input :nis,  placeholder: 'C78956' %>
		<%= f.input :email , placeholder: 'user@domain.com'%>
		<%= f.input :employee_number , placeholder: 'employee number'%>
		<%= f.association :department, label_method: :department_name, value_method: :id, include_blank: false, prompt: "Choose a Department" %>
		<%= f.association :parish, label_method: :parish_name, value_method: :id, include_blank: false, prompt: "Choose a Parish" %>
		<%= f.association :company, label_method: :company_name, value_method: :id, include_blank: false, prompt: "Choose a Company" %>
	  <%= f.association :bank, label_method: :bank_name, value_method: :id, include_blank: false, prompt: "Choose a Bank" %>
		<div id="hide_bank">
		<%= f.input :bank_account_number,  placeholder: 'bank account number'%>
	  </div>
		<%= f.input :home_address_1 %>
		<%= f.input :home_address_2 %>	
		<%= f.input :city %>
		<%= f.input :mobile_phone %>
		<%= f.input :work_phone%>	
		<div id="hide_me">
		<%= f.input :location do %>				
		<%= f.grouped_collection_select :location_id, Company.order(:company_name), :locations, :company_name, :id, :location_name, include_blank: false, prompt: "Choose a location" %>
		<% end %>
		</div>
		<%= f.association :position, label_method: :position_name, value_method: :id, include_blank: false, prompt: "Choose a position"%>
		
		<%= f.simple_fields_for :employee_jobs do | j |%>
			<%= render 'employee_job_fields', f: j %>
		<% end %>
		<%= link_to_add_fields "Add Jobs", f, :employee_jobs %>
		
		<%= f.simple_fields_for :employee_educations do |emp_edu_form| %>
			<%= render 'employee_education_fields' , f: emp_edu_form  %>
		<% end %>
			<%= link_to_add_fields "Add Education", f, :employee_educations %>
		
		<%= f.simple_fields_for :employee_contacts do | ec |%>
			<%= render 'employee_contact_fields', f: ec %>
		<% end %>
			<%= link_to_add_fields "Add Contacts", f, :employee_contacts %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
