<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @position.position_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @position.is_active %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
