<%= simple_form_for(@marital_status) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :is_active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , :class => 'btn-primary'%>
  </div>
<% end %>
