<p id="notice"><%= notice %></p>

<p>
  <strong>Bank name:</strong>
  <%= @bank.bank_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @bank.is_active %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
