<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_schedule.name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @work_schedule.is_active %>
</p>

<%= link_to 'Edit', edit_work_schedule_path(@work_schedule) %> |
<%= link_to 'Back', work_schedules_path %>
